---
const links = [
    { name: 'List', href: '/' },
    { name: 'Paginate', href: `/pokemons/${Astro.url.pathname.split('/').at(-1) || 1}` },
    { name: 'Favorite', href: '/favorites' },
]

const { pathname } = Astro.url;
---
<nav class="shadow bg-slate-800">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        {
            links.map((link) => (
                <div>
                    <a 
                        href={ link.href } 
                        class='text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6'
                    >
                        { link.name }
                    </a>
                    {
                        pathname === link.href ? (
                            <div transition:name="menu-border" class="border-b-2 border-blue-500 mx-4"></div>
                        )
                        : 
                        (
                            <div class="border-b-2 border-transparent"></div>
                        ) 
                    }
                </div>
            ))
        }
    </div>
</nav>
